<header>
  <h1 class="logo">
    <a rel="author" href="{{ "/" | relative_url }}" alt="{{ site.title }}">
      <img src="{{ "/assets/images/logo.svg" | relative_url }}" alt="{{ site.title }}">
    </a>
  </h1>
  <nav class="nav">
    <a href="{{ "/info" | relative_url }}">Info</a>
  </nav>
</header>
